<html>
<head>
  <link rel="stylesheet" href="stylesheets/supadupa.css">
</head>
<body>


<div class="row">
  <div class="large-12 columns">
    <div class= "headerbar"><h1 class="eb-header">EB</h1></div>
  </div>
</div>

<div class="row" id='button-group'>
  <div class="large-12 large-centered columns">
  <ul class="button-group">
    <li><a href="projects.html" class="button">Projects</a></li>
    <li><a href="about.html" class="button">About</a></li>
    <li><a href="blog.html" class="button">Blog</a></li>

  </ul>
  </div>
</div>


<div class="row">
<div class="large-4 columns"> </div>
<div class="large-4 columns">
<div class="panel" id="index-welcome">
  <h4 class="hi-welcome">Hi! I'm Erin.</h4>
  Developer. Coder. Enthusiast.<br>
  Lover of coffee, code, dogs, and Durham.<br>
</div>
  </div>
<div class="large-4 columns"> </div>
</div>




</body>
</html>
