<html>
<head>
  <link rel="stylesheet" href="stylesheets/supadupa.css">
</head>
<body>
<div class="row">
  <div class="large-12 columns">
    <div class= "headerbar"><h1 class="project-header">Projects</h1></div>
  </div>
</div>

<div class="row" id='button-group'>
  <div class="large-12 large-centered columns">
    <ul class="button-group">
      <li><a href="blog.html" class="button">Blog</a></li>
      <li><a href="about.html" class="button">About</a></li>
      <li><a href="index.html" class="button">Home</a></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="large-4 columns"> </div>
  <div class="large-4 columns">
    <div class="panel" id="projects">
      <h5 id="some-things"><strong>Some Things I've Made With Code On My Computer: </strong></h5>
      <p><ul class="project-body">

     A command line <a id="blackjack" href="https://github.com/ernbrn/Blackjack">Blackjack</a> game. Written in Ruby. Make bets, try your hand against the dealer. Pun intended.
      <br>
      <br>
      A beginner <a id="blackjack" href="https://github.com/ernbrn/surf_and_paddle">CSS</a> project for backenders.<br><br>

      A Hunt the Wumpus remake called <a id="blackjack" href="https://github.com/ernbrn/GoblinShark2.0">Hunt the Goblin Shark</a> made with Rails.<br><br>

      A collaborative yearbook-type project to provide a little syntactic  <a id="blackjack" href="https://github.com/ernbrn/sugar">Sugar</a> for employers in the hiring process.<br> Made with Rails and Backbone.js.<br><br>

      I added selective email-update functionality over on <a id="blackjack" href="https://github.com/ernbrn/freeshelf">Freeshelf</a>. An Iron Yard class-built Ruby on Rails project.<br><br>



      You can also look at my whole <a id="blackjack" href="https://github.com/ernbrn">github repo</a>.<br><br>


    </ul>
      </p>
    </div>

  </div>
  <div class="large-4 columns"> </div>
</div>




</body>
</html>
